@model EntityLayer.Concrete.Kitap
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@using (Html.BeginForm("KitapEdit", "Kitap", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Kitap Adı")
    @Html.TextBoxFor(x => x.kitapbasligi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.kitapbasligi)
    <br /> <br />

    @Html.Label("ISBN", new { @class = "form-control" })
    @Html.TextBoxFor(x => x.ISBN)
    @Html.ValidationMessageFor(x => x.ISBN)
    <br /> <br />

    @Html.Label("Yayın Tarihi", new { @class = "form-control" })
    @Html.TextBoxFor(x => x.yayinyili, "{0:yyyy-MM-dd}", new { type = "date" })
    @Html.ValidationMessageFor(x => x.yayinyili)
    <br /> <br />

    @Html.Label("Fiyat", new { @class = "form-control" })
    @Html.TextBoxFor(x => x.fiyat)
    @Html.ValidationMessageFor(x => x.fiyat)
    <br /> <br />
    @Html.Label("Durum", new { @class = "form-control" })
    @Html.CheckBoxFor(x => x.check)
    @Html.ValidationMessageFor(x => x.check)
    <br /> <br />

    @Html.Label("aliciid", new { @class = "form-control" })
    @Html.TextBoxFor(x => x.aliciid)
    @Html.ValidationMessageFor(x => x.aliciid)
    <br /> <br />
    <button class="btn btn-primary">Güncelle</button>
</div>
}